---
export interface Props {
  name?: string;
  color?: string;
}
import { SHOW_BOX, BOX_STYLE } from 'astro:env/client';

let style = '';
let title = '';

const show = SHOW_BOX && import.meta.env.DEV;
console.log({ show, SHOW_BOX, BOX_STYLE });
let { name, color } = Astro.props as Props;
if (show) {
  style = ` outline: ${BOX_STYLE} ${color ?? 'green'};`;
}
---

<div {style}>
  {show && <span class='name'>{name ?? ''} </span>}
  <slot />
</div>
<style>
  div {
    position: relative;
  }
  span.name {
    position: absolute;
    display: inline-block;
    top: -0.6lh;
    font-size: 0.8em;
    padding: 0 1em;
    z-index: 10;
    background-color: white;
    width: auto;
  }
</style>
