---
import { getCollection, DataEntryMap, DataCollectionKey } from 'astro:content';
import { Image } from 'astro:assets';
import { parseImageName } from '@utils/parseImageName.mjs';
import type { CollectionEntry } from 'astro:content';
import type { Entry } from '../content.config.js';

interface Props {
  collection: DataCollectionKey;
  base: string;
}
const { collection, base } = Astro.props as Props;
const entries = await getCollection(collection);
console.log(collection, entries);
---

<div class='works'>
  {
    entries.map(async (work) => {
      const data = work.data;
      let [sub, img, extL] = parseImageName(data.thumbNail || data.image, collection);
      let url = `/${base}/${work.id}`;
      console.log('parseName', { sub, img, extL, url });
      // let img = work.image.replace('.jpg', '');
      return (
        <a href={url}>
          <Image
            src={import(`../assets/images/${sub || collection}/${img}.${extL ?? 'jpg'}`)}
            width={100}
            format='jpeg'
            height={100}
            alt='image of the work'
          />
          <span>{data.subtitle || data.shortname || data.title}</span>
        </a>
      );
    })
  }
</div>

<style>
  .works a img {
    object-fit: cover;
  }
  .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    /* display: flex;
    flex-direction: row; */
    gap: 1rem;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
  }
  a span {
    display: inline-block;
    width: 100px;
    text-align: center;
  }
  a span.narrow {
    width: auto;
    font-size: 1.5rem;
  }
</style>
