---
import Layout from '@layouts/Layout.astro';
import Link from '@components/LinkTT.astro';
import Box from '@components/Box.astro';
// const thisFile = import.meta.url;

let title = 'Aidan & Margaret Nichol';
const persons: any[] = Object.values(import.meta.glob('../pages/*.md', { eager: true }));
persons.sort((a, b) => a.frontmatter.seq.localeCompare(b.frontmatter.seq));
let header = '../assets/images/SeahorseHeading2.jpg';
console.log(persons[0].file, persons[0].frontmatter);
---

<Layout title='Aidan & Margaret Nichol'>
  <main>
    <Box name='default'>
      <div id='banner'>
        <nav class='navbar'>
          <Link href='/' title='Home' />

          {
            persons.map((entry) => (
              <Link href={entry.url} title={entry.frontmatter.shortname} />
            ))
          }
        </nav>
      </div>

      <div class='wrapper'>
        <section>
          <slot />
        </section>
      </div>
    </Box>
  </main>
</Layout>

<style>
  .navbar {
    display: flex;
    flex-direction: row;
  }
  a.active {
    background-color: aqua;
  }
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    width: 100%;
    color: aquamarine;
    background-color: blue;
    padding: 0.5em 0;
    border-radius: 0.5em;
    margin: 0;
    text-align: center;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
  #banner {
    background: url('/images/SeahorseHeading4.jpg');
    height: 121px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
