---
import { Image } from '@astrojs/image/components';
import Layout from '@layouts/default.astro';
import { parseImageName } from '@utils/parseImageName.mjs';
import { getPersonsWorks } from '@utils/getPersonsWorks.mjs';
const { frontmatter: page } = Astro.props;
// const allWorks = await Astro.glob(`../pages/**/*.{md,mdx}`);
// const worksF = allWorks.filter((w) => w.file.includes(`/${page.person}/`));
const worksF = await getPersonsWorks(page.person);
// const works = worksF.map((w) => w.frontmatter);
// console.log(works);
---

<Layout>
  <h1>{page.name}</h1>
  <slot />
  <div class='works'>
    {
      worksF.map(async (work) => {
        // let work = workF.frontmatter;
        let [sub, img, extL] = parseImageName(work.image);

        // let img = work.image.replace('.jpg', '');
        return (
          <a href={work.url}>
            <Image
              src={import(`../assets/images/${sub || work.person}/${img}.jpg`)}
              width={100}
              format='jpeg'
              height={100}
              alt='image of the work'
            />
            {work.shortname || work.title}
          </a>
        );
      })
    }
  </div>
</Layout>
<style>
  .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 1rem;
    padding: 0;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
  }
</style>
