---
import { getCollection } from 'astro:content';
import { Image } from '@astrojs/image/components';
import Layout from '@layouts/default.astro';
import { parseImageName } from '@utils/parseImageName.mjs';
import { getPersonsWorks } from '@utils/getPersonsWorks.mjs';
const { frontmatter: page } = Astro.props;
// console.log('peron', Astro.props);
const collectionEntries = await getCollection(page.person);
// const worksF = await getPersonsWorks(page.person);
---

<Layout>
  <h1>{page.name}</h1>
  <slot />
  <div class='works'>
    {
      collectionEntries.map(async (work) => {
        const data = work.data;
        // let work = workF.frontmatter;
        // console.log('work', { work, data });
        let [sub, img, extL] = parseImageName(data.thumbnail || data.image, page.person);

        // let img = work.image.replace('.jpg', '');
        return (
          <a href={`${work.collection}/${work.slug}`}>
            <Image
              src={import(`../assets/images/${sub || data.person}/${img}.jpg`)}
              width={100}
              format='jpeg'
              height={100}
              alt='image of the work'
            />
            {data.shortname || data.title}
          </a>
        );
      })
    }
  </div>
</Layout>
<style>
  .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 1rem;
    padding: 0;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
  }
</style>
